<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="$ctrl.currentPage" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="$ctrl.goto('page1')" name="page1">
            Page One
        </md-nav-item>
        <md-nav-item md-nav-click="$ctrl.goto('page2')" name="page2">
            Page Two
        </md-nav-item>
    </md-nav-bar>
    <div>
        <md-input-container>
            <label>Graph Type</label>
            <md-select ng-model="$ctrl.graphType">
                <md-option ng-repeat="type in $ctrl.graphTypes" ng-value="type.value">
                    {{ type.title }}
                </md-option>
            </md-select>
        </md-input-container>
        <chart data="$ctrl.audience" options="$ctrl.options" type="$ctrl.graphType"></chart>
    </div>
</md-content>