<md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="$ctrl.currentPage" nav-bar-aria-label="navigation links">
        <md-nav-item ng-repeat="page in $ctrl.pages" md-nav-click="$ctrl.goto(page.value)" name="{{ page.value }}">
            {{ page.title }}
        </md-nav-item>
    </md-nav-bar>

    <div ng-switch on="$ctrl.currentPage">
        <div ng-switch-when="audience">
            <time-chart data="$ctrl.audience"></time-chart>
        </div>
        <div ng-switch-when="bandwidth">
            <time-chart data="$ctrl.bandwidth"></time-chart>
        </div>
        <div ng-switch-when="usage">
            <time-chart data="$ctrl.usage"></time-chart>
        </div>
        <div ng-switch-when="country">
            <category-chart data="$ctrl.country"></category-chart>
        </div>
        <div ng-switch-default></div>
    </div>
</md-content>